/* @font-face {
  font-family: ottoattack;
  font-weight: 400;
  src: url('~assets/fonts/ottoattack.woff2') format('woff2'),
       url('~assets/fonts/ottoattack.woff') format('woff');
} */

@font-face {
  font-family: bluunext;
  font-weight: 400;
  src: url('~assets/fonts/bluunext-bold-webfont.woff2') format('woff2'),
       url('~assets/fonts/bluunext-bold-webfont.woff') format('woff');
}
