/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* add fonts here */
@import '~assets/css/fonts';

:root {
  --color-primary: #2731fc;
  --color-secondary: #dfee35;
  --bg: #ffffff;
  --color: blue;
}

.dark-mode{
  --bg: blue;
  --color: #ffffff;
  --border: #dfee35;
}

.light-mode{
  --bg: #ffffff;
  --color: blue;
  --border: #2731fc;
}


body{
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
  /* background: #2731fc;
  background: -moz-linear-gradient(top,  #2731fc 0%, #dfee35 100%);
  background: -webkit-linear-gradient(top,  #2731fc 0%,#dfee35 100%);
  background: linear-gradient(to bottom,  #2731fc 0%,#dfee35 100%); */

}

nav.switcher{
  right: 2rem;
  top: 2rem;
}

nav.switcher ul li{
  display: inline-block;
  cursor: pointer;
  font-size: .85rem;
}

nav.switcher ul li:after{
  content: "-";
  display: inline-block;
  margin: 0 .5rem;
}

nav.main-navigation ul li:after{
  content: "-";
  display: inline-block;
  margin: 0 .5rem;
}

nav ul li:last-child:after{
  display: none;
}

a{
  transition: background-image .5s ease;
  -webkit-transition: background-image .5s ease;
}

a:hover{
  background-image: -webkit-linear-gradient(0deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.worklist li{
  border-bottom: 1px dotted var(--border);
}

.tablehead{
  border-bottom: 1px solid var(--border);
}
